@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
    margin: 0;
    padding: 0;
    background-color: #f4f5f6;
}

.App {
}

#root {
}

button {
    border: none;
}